<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="POST" action="/authenticate" class="signup-form">
                    <h2 class="form-title">Log In</h2>
                    {{> messages}}
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password" placeholder="Password" />
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" class="form-submit" value="Log In" />
                    </div>
                </form>
                <p class="loginhere">
                    Don't have an account ? <a href="/sign-up" class="loginhere-link">Sign Up here</a>
                </p>
            </div>
        </div>
    </section>

</div>